@charset "UTF-8";
/*
   Paleta de cores
    verde: #49a09d
    lilás: #5f2c82

*/

*{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;/*100 DA TELA*/
    width: 100vw;/*100 DA TELA*/
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;/*Centralizar login*/
    left: 50%;/*Centralizar login*/
    transform: translate(-50%,-50%);/*centralizar login*/
    overflow: hidden;/*Tudo que tiver fora da borda vai ficar escondido */

    background-color: white;
    width:250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);/*coloca sombra nas bordas*/

    transition: width 0.3s , height 0.3s;/*Tempo para mudar os tamanhos da telas*/
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;/*exibida como padrao*/
    background:#5f2c82 url(../imagens/metal.jpg) no-repeat ; 
    background-size: cover;
    background-position: left bottom;/*Escolho parte da imagem no caso esquerda embaixo*/
    height: 200px;
}
section#login > div#formulario{
    display: block;/*exibida como padrao*/
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
}
form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;/*Coloca altura 40*/
    border-radius: 5px; /*coloca borda arredondada*/
    margin: 5px 0px;/*Coloca margin externa e separa login e senha tao grudado*/
}
div.campo > label{
    display: none;
 }

form >input[type=submit]{
    display:block; /*Coloco ele sozinho como uma caixa*/
    font-size: 1em;
    width: 100%;/*pra ele ocupar 100 do container da caixa ele irá esticar*/
    height: 40px;/*Coloco altura no botao*/
    background-color: #49a09d;/*Coloca cor de fundo do botao verde*/
    color: white;/*Coloco cor da fonte do texto de branco*/
    border: none;/*Tira linha ao redor do botao ou borda*/
    border-radius: 5px;/*Coloco borda arrendoda no botao*/
    cursor: pointer;/*Coloca maozinha no botao*/

}

form > input[type=submit]:hover{
    background-color: #2d6462;
}
form > a.botao{
    display: block;
    text-align: center; /*Texto no centro*/
    font-size: 1em;/*tamanho da fonte*/
    width: 100%;/*largura maxima do botao*/
    height: 40px;/*altura de 40px do botao*/
    padding-top: 5px;/*Pequena distancia interna em cima*/
    margin-top: 5px;/*Pequena distancia em cima*/
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;/*botão borda arredondada*/
    text-decoration: none;/*remove sublinhado do link, botao é um link*/
}
form > a.botao:hover{
    background-color: #6cd3cf;
}
form > a.botao > i{
    font-size: 1.7em;
}